body {
    font-family: Lato;
    font-size: 16px;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    background-color: #310;
    color: #fdc;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

h4 a {
    color: #fdc;
}

form {
    gap: 15px;
    background: #421;
    padding: 20px;
    border-radius: 8px;
}

form label {
    text-align: right;
}

form input, form select {
    font-family: Arial;
    font-size: 14px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: #4f2f1f;
    border: 1px solid #fdc;
    border-radius: 5px;
    color: #fdc;
}

form div.side-by-side-num-inputs {
    display: flex;
    gap: 10px;
}

form div.side-by-side-num-inputs input {
    font-family: Arial;
    font-size: 14px;
    width: 100px;
    padding: 5px;
}

form button {
    font-family: Lato;
    background-color: #643;
    color: #fdc;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

form button:hover {
    background-color: #6f4f3f;
}

div.result {
    background: #421;
    padding: 20px;
    border-radius: 8px;
    font-size: 14px;
}

div.result table {
    width: 100%;
    border-collapse: collapse;
}

div.result th, td {
    padding: 5px;
    text-align: left;
    border: 1px solid #fdc;
}
